.cartConatiner {
  display: flex;
}

/* Show Items in cart */

.cart-container-headers {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}

.cart-container-headers > h6 {
  margin: 5px;
}

.cart-ul {
  list-style: none;
}

.cart-item {
  width: 850px;
  box-shadow: 0px 1px 0px 0px grey;
}

.cart-item-div {
  position: relative;
}

.item-img {
  height: 150px;
  margin: 5px;
}

.item-qty {
  position: absolute;
  top: 10px;
  left: 430px;
  margin: 0;
}

#item-name {
  color: gray;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 110px;
  max-width: 200px;
}

#item-name:hover {
  text-decoration: underline;
}

.item-totalItemPrice {
  color: gray;
  position: absolute;
  margin: 0;
  top: 10px;
  right: 47px;
}

.item-stPrice {
  color: #bbbbbb;
  position: absolute;
  margin: 0;
  top: 35px;
  right: 50px;
  font-weight: 100;
}

.amountItems {
  color: gray;
  position: absolute;
  margin: 0;
  top: 0;
  right: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amountInStock {
  color: gray;
  position: absolute;
  top: 10px;
  margin: 0;
  right: 417px;
  font-weight: 400;
}

.amountButtons {
  color: gray;
  background-color: initial;
  border: none;
  font-size: 20px;
  outline: none;
  height: 30px;
  margin: 0 2px 0 2px;
}

.amountButtons:hover {
  color: black;
}

#product-name {
  color: darkcyan;
}
/* Sum Of cart */

.cartSum-div {
  border: 1px solid;
  height: 200px;
  width: 434px;
  margin: 42px;
  text-align: center;
}

.total {
  font-size: 25px;
  text-decoration: underline;
  font-weight: 300;
}

.checkout {
  background-color: black;
  width: 400px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
